{# vi: set ft=jinja: #}

{% import_yaml "vmware-tools/defaults.yaml" as defaults %}
{% import_yaml "vmware-tools/osfamilymap.yaml" as osfamilymap %}
{% import_yaml "vmware-tools/oscodenamemap.yaml" as oscodenamemap %}
{% import_yaml "vmware-tools/osfingermap.yaml" as osfingermap %}

{# merge the osfamily map #}
{% set osfamily = salt['grains.filter_by'](osfamilymap, grain='os_family') or{} %}
{% do defaults.vmware_tools.update(osfamily) %}

{# merge oscodenameswap #}
{% set oscode = salt['grains.filter_by'](oscodenamemap, grain='oscodename') or {} %}
{% do defaults.vmware_tools.update(oscode) %}

{# merge the osfingermap #}
{% set osfinger = salt['grains.filter_by'](osfingermap, grain='osfinger') or {} %}
{% do defaults.vmware_tools.update(osfinger) %}

{# merge all #}
{% set vmware = salt['pillar.get']('vmware:tools', default=defaults['vmware_tools'], merge=True) %}
