# Set defaults since deploying from sources
{% set vmware_defaults = {
  'tools':
  {
    'latest': 'VMwareTools-9.4.15-2827462.tar.gz',
    'hash': 'md5=6d46188024553a4576977b54caae5403',
    'source': 'http://webserver/Latest_VMware_Tools/VMwareTools-9.4.15-2827462.tar.gz',
  },
} %}

# Merge the default settings with pillar data
{% set vmware = salt['pillar.get']('vmware:tools', default=vmware_defaults.tools,merge=True) %}

# Get the settings for the osmajorrelease grain
{% set os_ver_lookup = {
  'RedHat':
  {
    7:
    {
      'include': 'open-vm-tools',
      'package': 'open-vm-tools',
      'service': 'vmtoolsd',
    },
    6:
    {
      'include': 'vmware-tools',
    }
  },
  'Debian':
  {
    9:
    {
      'include': 'open-vm-tools',
      'package': 'open-vm-tools',
      'service': 'open-vm-tools',
    }
  },
  'Ubuntu':
  {
    18:
    {
      'include': 'open-vm-tools',
      'package': 'open-vm-tools',
      'service': 'open-vm-tools',
    }
  }
} %}

{% set os_map = os_ver_lookup.get(grains.os, {}) %} 
{% set osrelease = salt['grains.get']('osmajorrelease') | int %}
{% set config = os_map.get(osrelease, {}) %} 
